@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

.noto-nastaliq {
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
  font-family: 'Mehr';
  src: url('/fonts/Mehr_Nastaliq_2.0/Mehr_Nastaliq_2.0.ttf') format('truetype');
}

@font-face {
  font-family: 'Khat-e-Musarat';
  src: url('/fonts/Khat-e-Musarat.otf') format('opentype');
}

* {
    font-family: 'Inter';
}
