@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

.noto-nastaliq {
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
  font-family: 'Mehr';
  src: url('/fonts/MehrNastaliqWeb.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Jameel Noori Nastaliq';
  src: url('/fonts/JameelNooriNastaleeq.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Jameel Noori Nastaliq Kasheeda';
  src: url('/fonts/JameelNooriNastaleeqKasheeda.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Hussaini Nastaleeq';
  src: url('/fonts/HussainiNastaleeq.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Khat-e-Musarat';
  src: url('/fonts/Khat-e-Musarat.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Gandhara Suls';
  src: url('/fonts/GandharaSuls.woff') format('woff2');
  font-display: block;
}


* {
    font-family: 'Gulzar';
}