@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

.noto-nastaliq {
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
  font-family: 'Mehr';
  src: url('/fonts/MehrNastaliqWeb.woff') format('woff');
  font-display: block !important;
}

@font-face {
  font-family: 'Jameel Noori Nastaliq';
  src: url('/fonts/JameelNooriNastaleeq.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Jameel Noori Nastaliq Kasheeda';
  src: url('/fonts/JameelNooriNastaleeqKasheeda.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Hussaini Nastaleeq';
  src: url('/fonts/HussainiNastaleeq.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Khat-e-Musarat';
  src: url('/fonts/Khat-e-Musarat.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Gandhara Suls';
  src: url('/fonts/GandharaSuls.woff') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Aadil';
  src: url('/fonts/Aadil.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlFars Symbols';
  src: url('/fonts/AlFarsSymbols.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Abuzar';
  src: url('/fonts/AlQalamAbuzar.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Fakhar';
  src: url('/fonts/AlQalamFakhar.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Ferdos';
  src: url('/fonts/AlQalamFerdaos.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Alvi Nastaliq';
  src: url('/fonts/AlviNastaleeq.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Arslan Waseem';
  src: url('/fonts/ArslanWessam.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Shakir';
  src: url('/fonts//AlQalamShakir.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Farhan';
  src: url('/fonts/AlQalamFarhan.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Fawad';
  src: url('/fonts/AlQalamFawadLight.woff2') format('woff2');
  font-display: block !important;

}

@font-face {
  font-family: 'AlQalam Hassan';
  src: url('/fonts/AlQalamHassan.woff2') format('woff2');
  font-display: block !important;

}

@font-face {
  font-family: 'AlQalam Ishtiaq';
  src: url('/fonts/AlQalamIshtiaq.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Kashif';
  src: url('/fonts/AlQalamKashifOutline.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Irzan';
  src: url('/fonts/AlQalamIrzan.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Khalid Maqbool';
  src: url('/fonts/AlQalamKhalidMaqbool.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Khat-e-Sumbali';
  src: url('/fonts/AlQalamKhat-e-Sumbali.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Punjabi';
  src: url('/fonts/AlQalamPunjabi.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Al Qalam ShahJahan';
  src: url('/fonts/AlQalamShahJahan.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Sadaf';
  src: url('/fonts/AlQalamSadaf.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Awad';
  src: url('/fonts/Awad.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'AlQalam Tafseer';
  src: url('/fonts/AlQalamTafseer.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Aslam';
  src: url('/fonts/Aslam.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Diwani';
  src: url('/fonts/DiwaniBent.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Farsi Simple';
  src: url('/fonts/FarsiSimpleOutline.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Ghalib';
  src: url('/fonts/Ghalib.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'KacstTitle';
  src: url('/fonts/KacstTitle.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Ibteda';
  src: url('/fonts/Ibteda.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Laiq Nastaleeq';
  src: url('/fonts/LaiqNastaleeq.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Old Antic Outline Shaded';
  src: url('/fonts/OldAnticOutlineShaded.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Bukhari';
  src: url('/fonts/Bukhari.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Bilal Outline';
  src: url('/fonts/BilalOutline.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Sharmeen';
  src: url('/fonts/Sharmeen.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Pencil Nafees';
  src: url('/fonts/PencilNafees.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Jauhar';
  src: url('/fonts/Jauhar.woff2') format('woff2');
  font-display: block !important;
}

@font-face {
  font-family: 'Pak Nastaleeq';
  src: url('/fonts/PakNastaleeq.woff2') format('woff2');
  font-display: block !important;
}

/* SAMEER FONT FAMILY SARI REHTI HAI BHAI THEEK HAI? OR YAHAN SE AAGAY BUS FONTs ki md bnani rehti hai or family names zra dekh lien OR Han Google pa jo Arabic fonts hien na 48 wo sb bhi daal dien ismien or un k aagay mention bhi krdien Arabic / Persian/ Language filter yk maybe now ya baad main khien */

* {
    font-family: 'Gulzar';
    font-display: block;
}